<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

    {% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    </script>

  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>

      <!-- Botões das aulas -->
      {% unless page.url == "/" %}
      <a href="{{ '/pg_init.html' | relative_url }}" class="btn">Início</a>
      {% endunless %}

      <!-- <a href="{{ '/aulas.html' | relative_url }}" class="btn">Aulas</a> 
      <a href="{{ '/recursos.html' | relative_url }}" class="btn">Recursos</a> 
      <a href="{{ '/projetos.html' | relative_url }}" class="btn">Projetos</a>
      <a href="{{ '/extras.html' | relative_url }}" class="btn">Extras</a> -->

    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}
  <footer class="site-footer">
  <div class="section-footer" style="display: flex; flex-direction: row; justify-content: center;">
    <div style="max-width: 70%; font-size: 14px; padding-right: 5%;">
        <p> Quem Somos? </p>
        <p> Somos um grupo de estudantes do curso de Engenharia Física do 3° e 4° ano da Escola de Engenharia de Lorena da Universidade de São Paulo - USP. Acreditamos no acesso fácil à educação e ao conhecimento de forma simples, divertida e prática. Esse site é direcionado para todas aqueles que tiverem interersse em se aprofundar nos conteúdos programáticos das disciplinas de Ciências, Geografia e Matemática, principalmente alinhado ao programa do 8° ano do fundamental. </p>
        <p> Buscamos relacionar todos os conteúdos para auxílio no entendimento da geração de energia como um todo, desde a conversão das diversas fontes de energia em energia elétrica até o entendimento da transmissão da energia gerada para as nossas casas. </p>
    </div> 
  <div style="flex: 1; text-align: center;">
    <img src="IMAGES//Grupo.jpeg" alt="Criadores" style="max-width: 60%; border-radius: 8px;">
    <p style="font-size: 12px"><strong>Criadores</strong></p>
  </div>
  </div>
        {% if site.github.is_project_page %}
          <span class="site-footer-owner">
            <a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a>
            é um projeto da disciplina LOM3095: Tecnologias Limpas para Geração de Energia,
            da Escola de Engenharia de Lorena da USP.
          </span>
        {% endif %}
        <span class="site-footer-credits">
          Esse site é mantido por <a href="https://pages.github.com">GitHub Pages</a>.
        </span>
      </footer>
    </main>
  </body>
</html>

